.App {
  text-align: center;
}

.App-logo {
  height: 11vmin;
}
.App-logo-text {
  animation: App-sezzy-colors infinite 6s;
}

.App-header {
  background: linear-gradient(maroon, #282c34);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-sezzy-colors {
  0% {
    color: #ff00ff;
    font-size: 1.5rem;
  }
  50% {
    color: #0ff0ff;
    font-size: 2rem;
  }
  100% {
    color: #ff00ff;
    font-size: 1.5rem;
  }
}
