* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 11vmin;
}
.App-logo-text {
  animation: App-sezzy-colors infinite 6s;
}

.App-header {
  background: linear-gradient(maroon, #282c34);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.big-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}
.big-list .crypto {
  width: 9vw; 
  min-width: 9vw;
  font-size: 1.15vw;
  border-radius: 1rem;
  border: 1px snow dashed;
}



.App-link {
  color: #61dafb;
}

@keyframes App-sezzy-colors {
  0% {
    color: #ff00ff;
  }
  50% {
    color: #0ff0ff;
  }
  100% {
    color: #ff00ff;
  }
}
