* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background: linear-gradient(snow, #88f);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #020;
}
.content-page-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  max-width: 75vw;
}
.content-page-layout > p {
  line-height: 2.6rem;
}
.navbar {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.App-feature {
  list-style: none;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-around;
  font-size: 3.65vw;
  background-color: #020;
  padding: 0.8rem;
  border-radius: 2rem;
  animation: App-sezzy-colors infinite 6s;
}
.logo-text-splendor {
  text-shadow: 0px 3px 0px #b0aa90,
                 0px 13px 10px rgba(0,0,0,0.15),
                 0px 23px 2px rgba(0,0,0,0.1),
                 0px 32px 29px rgba(0,0,0,0.1);;
}
.big-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  list-style: none;
}
.big-list .crypto {
  width: 14vw; 
  min-width: 14vw;
  font-size: 1.75vw;
  border-radius: 2.5vw;
  border: 0.5vw #8cf dashed;
  margin-bottom: 1vw;
}
.lil-image {
  width: 12vw;
  max-width: 60px;
  height: 12vw;
  max-height: 60px;
}


.App-link {
  color: navy;
}

@keyframes App-sezzy-colors {
  0% {
    color: #ff00ff;
  }
  50% {
    color: #0ff0ff;
  }
  100% {
    color: #ff00ff;
  }
}